<!DOCTYPE html>
<html>
<head>
  <title>SchoologyPowerTools</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Schoology Power Tools', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Grade Reports', grade_reports_generate_report_path%>
        </li>
        <% if user_signed_in? %>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
        <% else %>
            <li>
              <%= link_to('Login', new_user_session_path)  %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <% flash.each do |level, value| %>
      <div class="<%= flash_class(level) %>" role="alert"><%= value %></div>
  <% end %>



  <%= yield %>
</div>

</body>
</html>
